header
    nav(
        class='navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg'
        color-on-scroll='100',
    )
        div(class='container')
            div(class='navbar-translate')
                a(href='/') BabbleSmash