extends layout

block content
    include partials/header.pug
    div(
        class='page-header header-filter header-bkgrd' data-parallax='true')
        div(class='container')
            div(class='row')
                div(class='col-md-8 ml-auto mr-auto')
                    div(class='brand-heading text-center')
                        h1(class='header-title') Get Messy
                        h3(class='header-title') Start Smashing
                        button(type='button' class='btn-lg btn-secondary' data-toggle='modal' data-target='#regModal') Register
    div(class='main-section section-raised')
        div(class='section-position')
            div(class='container')
                div(class='row')
                    div(class='col-md-8 ml-auto mr-auto pt-5')
                        h4(class='description text-center') How can we extract knowledge from an article as fast as humanly possible? Hello BabbleSmash. Submit a URL and receive insight into the article's sentiment, emotion, keywords and topic breakdown.
                div(class='pt-5')
                    div(class='card-deck')
                        div(class='card border-0')
                            i(class='bg-secondary pt-5 pb-5 fas fa-award text-center' style='font-size:90px;color:white')
                            div(class='card-body')
                                h5(class='card-title mt-3') Perform faster
                                p(class='card-text') We use technology from Yonder Labs to get your results.
                        div(class='card border-0')
                            i(class='bg-secondary pt-5 pb-5 fas fa-baby text-center' style='font-size:90px;color:white')
                            div(class='card-body')
                                h5(class='card-title mt-3') Easy to use
                                p(class='card-text') Be pampered. Getting to the point has never been easier.
                        div(class='card border-0')
                            i(class='bg-secondary pt-5 pb-5 fas fa-bomb text-center' style='font-size:90px;color:white')
                            div(class='card-body')
                                h5(class='card-title mt-3') It's the bomb
                                p(class='card-text') You should be registering right now. Don't read this, come on!
        div(class='section-position')
            div(class='container')
                div(class='row')
                    div(class='col-md-8 ml-auto mr-auto pt-5')
                        h4(class='description text-left') This project was built with Node.js, Express, Sequelize, and Pug. 
                        h4(class='description text-left') At the heart and soul of this program is a Data Science API from <a href="https://www.yonderlabs.com" target="_blank">Yonder Labs</a>
    //------ Modal --------//
    div(class='modal fade' id='regModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        div(class='modal-dialog' role='document')
            div(class='modal-content')
                div(class='modal-header')
                    h5(class='modal-title' id='exampleModalLabel') Register Below to get started
                    button(type='button' class='close' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true')
                div(class='modal-body')
                    form(action='/signup' method='POST')
                        div(class='form-group')
                            label(for='authEmail') Email
                            input(id='authEmail' class='form-control' type='email' name='email')
                        div(class='form-group')
                            label(for='authName') Name
                            input(id='authName' class='form-control' type='text' name='name')
                        div(class='form-group')
                            label(for='authPassword') Password
                            input(id='authPassword' class='form-control' type='password' name='password')
                            button(type='submit' class='btn btn-primary mt-3') Submit
                div(class='modal-footer')
                    button(type='button' class='btn btn-secondary' data-dismiss='modal') Close
//- include partials/footer.pug
