extends layout

block content
    include partials/header.pug
    div(
        class='page-header header-filter header-bkgrd' data-parallax='true')
        div(class='container')
            div(class='row')
                div(class='col-md-8 ml-auto mr-auto')
                    div(class='brand-heading text-center')
                        h1(class='header-title') Get Messy
                        h3(class='header-title') Start Smashing
                        button(type='button' class='btn-lg btn-secondary' data-toggle='modal' data-target='#regModal') Register
    div(class='main-section section-raised')
        div(class='section-position')
            div(class='container')
                div(class='row')
                    div(class='col-md-8 ml-auto mr-auto pt-5')
                        h4(class='description text-center') Lorem ipsum dolor amet lomo artisan williamsburg typewriter kogi coloring book, listicle beard you probably haven't heard of them wayfarers yuccie 3 wolf moon small batch YOLO. 90's hammock blue bottle marfa actually enamel pin trust fund semiotics vexillologist knausgaard. 
                div(class='pt-5')
                    div(class='card-deck')
                        div(class='card border-0')
                            i(class='bg-secondary pt-5 pb-5 fas fa-award text-center' style='font-size:90px;color:white')
                            div(class='card-body')
                                h5(class='card-title mt-3') We're the shit yo
                                p(class='card-text') This is a pretty cool thing you gotta check out
                        div(class='card border-0')
                            i(class='bg-secondary pt-5 pb-5 fas fa-baby text-center' style='font-size:90px;color:white')
                            div(class='card-body')
                                h5(class='card-title mt-3') Come on
                                p(class='card-text') Don't be a baby. This is actually pretty cool. Promise!
                        div(class='card border-0')
                            i(class='bg-secondary pt-5 pb-5 fas fa-bomb text-center' style='font-size:90px;color:white')
                            div(class='card-body')
                                h5(class='card-title mt-3') The bomb diggity
                                p(class='card-text') You should be registering right now. Don't read this, come on!
        div(class='section-position')
            div(class='container')
                div(class='row')
                    div(class='col-md-8 ml-auto mr-auto pt-5')
                        h4(class='description text-left') Before they sold out vice tousled helvetica. Kombucha hexagon fanny pack, af gentrify artisan portland migas meditation tousled celiac jean shorts 3 wolf moon. Craft beer pug portland, knausgaard tacos retro you probably haven't heard of them chartreuse squid blue bottle mixtape DIY. Vexillologist waistcoat butcher biodiesel organic la croix. Cloud bread listicle locavore flannel gentrify hot chicken seitan echo park farm-to-table art party salvia plaid.
                    div(class='col-md-8 ml-auto mr-auto pt-5')
                        h4(class='description text-left') Chia biodiesel typewriter swag viral farm-to-table selvage af mixtape palo santo gentrify fam thundercats. Williamsburg twee blue bottle, taxidermy fam austin snackwave echo park woke man braid iceland pop-up. Freegan narwhal schlitz flexitarian. Intelligentsia direct trade cardigan banh mi, taiyaki chambray gochujang farm-to-table echo park enamel pin. Jean shorts butcher chambray selfies typewriter occupy. Schlitz adaptogen jean shorts hashtag, literally lumbersexual put a bird on it kogi.
                    div(class='col-md-8 ml-auto mr-auto pt-5')
                        h4(class='description text-left') Oh. You need a little dummy text for your mockup? How quaint.
                        h4(class='description text-left') I bet you’re still using Bootstrap too…
    //------ Modal --------//
    div(class='modal fade' id='regModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        div(class='modal-dialog' role='document')
            div(class='modal-content')
                div(class='modal-header')
                    h5(class='modal-title' id='exampleModalLabel') Register Below to get started
                    button(type='button' class='close' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true')
                div(class='modal-body')
                    form(action='/signup' method='POST')
                        div(class='form-group')
                            label(for='authEmail') Email
                            input(id='authEmail' class='form-control' type='email' name='email')
                        div(class='form-group')
                            label(for='authName') Name
                            input(id='authName' class='form-control' type='text' name='name')
                        div(class='form-group')
                            label(for='authPassword') Password
                            input(id='authPassword' class='form-control' type='password' name='password')
                            button(type='submit mt-3' class='btn btn-primary') Submit
                div(class='modal-footer')
                    button(type='button' class='btn btn-secondary' data-dismiss='modal') Close
//- include partials/footer.pug
