extends layout

block content
    include partials/usrheader.pug
    div(class='usr container')
        div(class="row flex-xl-nowrap")
            div(class='col-xl-12 col-md-9 py-md-3')
                div(class='row mb-3')
                    h3(class='text-left') Hi #{user.name},
                div(class='row mb-3')
                    h5(class='text-left') Enter your URL in the Smash bar above to get your analysis       
                div(class='row mb-3')
                    div(class='col-md-3') 
                    div(class='col-md-6')
                        ul(class="list-group list-group-flush")
                            each article in articles
                                li(class='list-group-item')= article.url
                    div(class='col-md-3') Whitespace 
