body {
}

h1 {
    font-size:4.5rem;
    color:white;
    font-weight:600
}

/* Brand related */
.brand-heading {
    font-family: 'Hind Siliguri', sans-serif;
}

/* Main page classes */
.page-header {
    background-position: 50%;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    height:80vh;
}

.header-filter {
    position: relative;
}

.header-bkgrd {
    background-image: url('https://images.unsplash.com/photo-1507946116609-bfed19728fdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80')
}